/* Global Styles */

*{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #dee4e7;
  font-family: 'Merriweather', serif;
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color: #321D6E;
}

a:hover, a:active{
  color: #900c3f;
}

p{
  text-align: left;
  font-size: 1.3rem;
  line-height: 2;
}

h1{
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  margin-bottom: 25px;
}

#agrupar{
  width: 90%;
  position: relative;
  margin: 5% auto;
}

#barra{
  float: left;
  width: 4.8%;
  position: fixed;
  left: 4vh;
}

.bubble{
  width: 7vh;
}

.ig{
  width: 6vh;
}

#menu{
  line-height: 10.5;
  display: block;
}

#menu li{
  list-style: none;
}

#pie{
  clear: both;
  background-color: #eeeeee;
  padding: 3% 0;
}

#pie p{
  text-align: center;
}

.instagram{
  line-height: 3;
  font-size: 2rem;
}

.author{
  font-size: 1rem;
}

@media screen and (max-width: 1366px){
  .original{
    width: 95%;
  }

  .landscape{
    width: 62%;
  }

  .portrait{
    width: 30%;
  }

  .square{
    width: 31%;
  }
  #menu{
    line-height: 7;
    display: block;
  }
}

@media screen and (max-width: 768px){
  #inicio{
    width: 85%;
  }
}
